<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new patient</title>
</head>
<body>
<div style="align-content: center; text-align: center">
    <form method="post" action="/add">
        <div>
            <label>Name :
                <input type="text" name="name" placeholder="Name : " required />
            </label>
        </div>
        <div>
            <label>Surname :
                <input type="text" name="surname" placeholder="Surname : " required />
            </label>
        </div>
        <div>
            <label>Birth date :
                <input type="date" name="birthDate" placeholder="Birth date : " required />
            </label>
        </div>
        <div>
            <label>Status :
                <select name="patientStatus">
                    <option value=1>healed</option>
                    <option value=2>died</option>
                    <option value=3>healing</option>
                </select>
            </label>
            <button type="submit">Add!</button>
        </div>
    </form>
</div>
<div><br><br><br></div>
<div style="text-align: center"><a href="/main">go to main page</a></div>


</body>
</html>