<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose patient</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/main">Main</a>
        <a class="navbar-brand" href="/add">Add new patient</a>
        <a class="navbar-brand" href="/delete">Delete patient</a>
        <a class="navbar-brand" href="/choose">Change patient</a>
        <a class="navbar-brand" href="/filterByStatus">Filter patient by status</a>
        <a class="navbar-brand" href="/filterByAge">Filter patient by age</a>
    </nav>
</div>
<div><br></div>

<div style="text-align: center">
    <h3>Choose patient to change</h3>
</div>

<div style="text-align: center">
    <form method="post" action="/choose">
        <div>
            <label style="text-align: left;">Chose patient to change :
                <select class="form-control" name="patient" required>
                    {{#patients}}
                        <option value={{id}}>
                            {{name}}&nbsp;&nbsp;
                            {{surname}}&nbsp;&nbsp;
                            {{birthDate.year}}&nbsp;&nbsp;
                            {{birthDate.month}}&nbsp;&nbsp;
                            {{birthDate.day}}&nbsp;&nbsp;
                            {{patientStatus}}&nbsp;&nbsp;
                        </option>
                    {{/patients}}
                </select>
            </label>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Choose!</button>
        </div>
    </form>
</div>

</body>
</html>