<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete patient</title>
</head>
<body>
<div style="text-align: center">
    <form method="post" action="/delete">
        <div>
            <label>Chose patient to delete :
                <select name="patient">
                    {{#patients}}
                        <option value={{id}}>
                            {{name}}&nbsp;&nbsp;
                            {{surname}}&nbsp;&nbsp;
                            {{birthDate.year}}&nbsp;&nbsp;
                            {{birthDate.month}}&nbsp;&nbsp;
                            {{birthDate.day}}&nbsp;&nbsp;
                            {{patientStatus}}&nbsp;&nbsp;
                        </option>
                    {{/patients}}
                </select>
            </label>
            <button type="submit">Delete!</button>
        </div>
    </form>
</div>

<div><br><br><br></div>
<div style="text-align: center"><a href="/main">go to main page</a></div>

</body>
</html>