<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients Status</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/main">Main</a>
        <a class="navbar-brand" href="/add">Add new patient</a>
        <a class="navbar-brand" href="/delete">Delete patient</a>
        <a class="navbar-brand" href="/choose">Change patient</a>
        <a class="navbar-brand" href="/filterByStatus">Filter patient by status</a>
        <a class="navbar-brand" href="/filterByAge">Filter patient by age</a>
    </nav>
</div>
<div><br></div>

<div style="text-align: center">
    <h3>Filter person by Status</h3>
</div>

<div style="text-align: center">
    <form method="post" action="/filterByStatus">
        <div>
            <label style="text-align: left">Status :
                <select class="form-control" name="patientStatus">
                    <option value=0>all</option>
                    <option value=1>healed</option>
                    <option value=2>died</option>
                    <option value=3>healing</option>
                </select>
            </label>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Find!</button>
        </div>
    </form>
</div>

<div><br></div>

<div style="text-align: center"><h3>Patients:</h3>
    <table class="table-striped table-inverse" align="center">
        <tr>
            <th>id&nbsp;&nbsp;</th>
            <th>name&nbsp;&nbsp;</th>
            <th>surname&nbsp;&nbsp;</th>
            <th>birthDate&nbsp;&nbsp;</th>
            <th>patientStatus&nbsp;&nbsp;</th>
        </tr>
        {{#patients}}
            <tr>
                <td>{{id}}&nbsp;&nbsp;</td>
                <td>{{name}}&nbsp;&nbsp;</td>
                <td>{{surname}}&nbsp;&nbsp;</td>
                <td>{{birthDate.year}}&nbsp;&nbsp;{{birthDate.month}}&nbsp;&nbsp;{{birthDate.day}}&nbsp;&nbsp;</td>
                <td>{{patientStatus}}&nbsp;&nbsp;</td>
            </tr>
        {{/patients}}
    </table>
</div>

</body>
</html>