<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
<div style="text-align: center"><a href="/add">add new patient</a></div>
<div><br></div>
<div style="text-align: center"><a href="/delete">delete patient</a></div>
<div><br></div>
<div style="text-align: center"><a href="/choose">change patient</a></div>
<div><br></div>
<div style="text-align: center"><a href="/filterByStatus">filter patient by status</a></div>
<div><br></div>
<div style="text-align: center"><a href="/filterByAge">filter patient by age</a></div>
<div><br><br><br></div>

<div style="text-align: center">Patients:
    <table align="center">
        <tr>
            <th>id&nbsp;&nbsp;</th>
            <th>name&nbsp;&nbsp;</th>
            <th>surname&nbsp;&nbsp;</th>
            <th>birthDate&nbsp;&nbsp;</th>
            <th>patientStatus&nbsp;&nbsp;</th>
        </tr>
        {{#patients}}
            <tr>
                <td>{{id}}&nbsp;&nbsp;</td>
                <td>{{name}}&nbsp;&nbsp;</td>
                <td>{{surname}}&nbsp;&nbsp;</td>
                <td>{{birthDate.year}}&nbsp;&nbsp;{{birthDate.month}}&nbsp;&nbsp;{{birthDate.day}}&nbsp;&nbsp;</td>
                <td>{{patientStatus}}&nbsp;&nbsp;</td>
            </tr>
        {{/patients}}
    </table>
</div>
</body>
</html>